<%= form_for(@micropost) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
        <%= f.text_area :content, id: "compose", placeholder: "Compose new micropost..." %>
        <div id="count">140 characters left</div>
    </div>
    <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
